Repository adimajo/Geocoding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, security, document_cagip, build geocoder

lint:
  cache:
    paths:
    - .cache/pip
    - .cache/pipenv
    - .cache/venvs
    policy: pull-push
  image:
    name: ${DOCKER_REGISTRY}python:3.8.16-alpine3.17
  tags:
  - kubernetes
  stage: lint
  script:
  - pip install flake8
  - flake8 geocoder --count --ignore=W504 --max-complexity=10 --max-line-length=120 --statistics

test:
  cache:
    paths:
    - .cache/pip
    - .cache/pipenv
    - .cache/venvs
    policy: pull-push
  image:
    name: ${DOCKER_REGISTRY}python:3.8.16-alpine3.17
  tags:
  - kubernetes
  before_script:
  - which ssh-agent || ( apk --update add openssh-client )
  - eval $(ssh-agent -s)
  ...

security:
  cache:
    paths:
    - .cache/pip
    - .cache/pipenv
    - .cache/venvs
    policy: pull
  image:
    name: ${DOCKER_REGISTRY}python:3.8.16-alpine3.17
  tags:
  - kubernetes
  stage: security
  script:
  - pip install pipenv
  - pipenv run bandit -r geocoder

document_cagip:
  cache:
    paths:
    - .cache/pip
    - .cache/pipenv
    - .cache/venvs
    policy: pull
  image:
    name: ${DOCKER_REGISTRY}python:3.8.16-alpine3.17
  tags:
  - kubernetes
  stage: document
  script:
  - . ./build.env
  - apk --update add --no-cache make git
  - pip install pipenv
  - cd docs
  - pipenv run make clean
  ...

build geocoder:
  tags:
  - kubernetes
  stage: build
  image:
    name: ${DOCKER_REGISTRY_BIS}kaniko-project/executor:debug-v1.0.0
    entrypoint:
    - ''
  script:
  - . ./build.env
  - mkdir -p /kaniko/.docker
  ...

[ci-skip] Bumping to version 2.1.6
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

fix temps de calcul
  geocoder/site/templates/index.html
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.7
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

fix sonar and try fix github actions
  .github/workflows/python-flask.yml
  geocoder/api/provider.py
  geocoder/geocoding/__main__.py
  geocoder/geocoding/download.py
  geocoder/geocoding/index.py
  geocoder/geocoding/normalize.py
  geocoder/wsgi.py
  tests/test_geocoder.py
Due: lint, test, security, document_cagip, build geocoder

fixing PYPI_REMOTE and LABELs
  .github/workflows/python-flask.yml
  Dockerfile
  Pipfile
Due: test, build geocoder

misplaced LOGURU_LEVEL="ERROR"
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  Dockerfile
Due: lint, test, security, document_cagip, build geocoder

let's try this with lieux-dits
  Pipfile
  geocoder/geocoding/ban_processing.py
  geocoder/geocoding/index.py
  geocoder/geocoding/normalize.py
  geocoder/geocoding/query.py
  tests/test_geocoder.py
Due: lint, test, security, document_cagip, build geocoder

flake and correct tests again
  geocoder/geocoding/ban_processing.py
  tests/test_geocoder.py
Due: lint, test, security, document_cagip, build geocoder

downgrade pipenv
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

test values changed with new files
  tests/test_geocoder.py
Due: test

test values changed with new files²
  tests/test_geocoder.py
Due: test

test values changed with new files^3
  tests/test_geocoder.py
Due: test

[ci-skip] Bumping to version 2.1.8
  Pipfile
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

test changes now also builds... since it bumps the version (this is a bit silly though)
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.9
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

missing nosec
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.10
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

make staging and stable api dependent on test rather than generate_tag
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

try again with staging exit(1)
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.11
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

try again with staging exit(1)²
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.12
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

try again with staging exit(1): should be OK this time
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

skip lock in github to see what's going on
  .github/workflows/python-flask.yml
Due: none

[ci-skip] Bumping to version 2.1.13
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

why did i remove ${PYPI_REMOTE} at some point?
  Pipfile
Due: test, build geocoder

debug click
  .github/workflows/python-flask.yml
Due: none

click mystery
  .github/workflows/python-flask.yml
Due: none

ENV setting (https://github.com/moby/moby/issues/29110) for LABELs
  Dockerfile
Due: build geocoder

[ci-skip] Bumping to version 2.1.14
  Pipfile
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

ENV setting and --build-arg
  .gitlab-ci.yml
  Dockerfile
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.15
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

debug label
  .gitlab-ci.yml
  Dockerfile
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.16
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

one \ too much
  Dockerfile
Due: build geocoder

[ci-skip] Bumping to version 2.1.17
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

fix actions & remove RUN echo in Dockerfile since LABELs are fixed
  .github/workflows/python-flask.yml
  Dockerfile
Due: build geocoder

fix Pipfile which was committed with version bump!
  .gitlab-ci.yml
  Pipfile
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.18
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

Path conditions:
  lint: any of: .gitlab-ci.yml, geocoder/**/*
  test: any of: .gitlab-ci.yml, geocoder/**/*, Pipfile, tests/**/*
  security: any of: .gitlab-ci.yml, geocoder/**/*
  document_cagip: any of: .gitlab-ci.yml, geocoder/**/*, docs/**/*
  build geocoder: any of: .gitlab-ci.yml, geocoder/**/*, Pipfile, setup.py, Dockerfile
