Repository adimajo/Geocoding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, security, document_cagip, build geocoder

Path conditions:
  lint: any of: .gitlab-ci.yml, geocoder/**/*
  test: any of: .gitlab-ci.yml, geocoder/**/*, tests/**/*
  security: any of: .gitlab-ci.yml, geocoder/**/*
  document_cagip: any of: .gitlab-ci.yml, geocoder/**/*, docs/**/*
  build geocoder: any of: .gitlab-ci.yml, geocoder/**/*

add skip lock to see what's going on and linux-headers
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

wrong place for skip lock :-(
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

add build-base
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

fixed missing alpine deps, at least without --dev
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

fix both pipelines
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  geocoder/Dockerfile
Due: lint, test, security, document_cagip, build geocoder

with DEBUG on github (otherwise very long) and missing alpine deps in build on gitlab
  .github/workflows/python-flask.yml
  geocoder/Dockerfile
Due: lint, test, security, document_cagip, build geocoder

fix path to README for github
  .github/workflows/python-flask.yml
Due: none

tag not properly calculated on github
  .github/workflows/python-flask.yml
Due: none

document and try to fool setup.py in Dockerfile
  .gitlab-ci.yml
  docs/source/conf.py
  geocoder/Dockerfile
  geocoder/__init__.py
  geocoder/api/Geocoder.py
  geocoder/api/__init__.py
  geocoder/api/app.py
  geocoder/api/conf.py
  geocoder/api/rest.py
  geocoder/geocoding/__init__.py
  geocoder/geocoding/activate_reverse.py
  geocoder/geocoding/ban_processing.py
  geocoder/geocoding/query.py
  geocoder/setup.py
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

sys not necessary...
  geocoder/setup.py
Due: lint, test, security, document_cagip, build geocoder

setup and Dockerfile fixes
  geocoder/Dockerfile
  geocoder/setup.py
Due: lint, test, security, document_cagip, build geocoder

documentation and dockerfile tweaks
  geocoder/Dockerfile
  geocoder/api/Geocoder.py
  geocoder/api/__init__.py
  geocoder/api/app.py
  geocoder/api/conf.py
  geocoder/api/rest.py
  geocoder/geocoding/__main__.py
  geocoder/geocoding/activate_reverse.py
  geocoder/geocoding/ban_processing.py
  geocoder/geocoding/download.py
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

get_uuid does not exist anymore
  geocoder/api/rest.py
Due: lint, test, security, document_cagip, build geocoder

is_geocoded does not exist anymore
  geocoder/api/rest.py
Due: lint, test, security, document_cagip, build geocoder

changing docker context
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  geocoder/Dockerfile
Due: lint, test, security, document_cagip, build geocoder

adapting again dockerfile location and context
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

Rollout version 2.0.1
  docs/_autosummary/geocoder.geocoding.index.html
Due: document_cagip

change everything back...
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  geocoder/Dockerfile
  geocoder/setup.py
Due: lint, test, security, document_cagip, build geocoder

context for github
  .github/workflows/python-flask.yml
Due: none

non editable install?
  geocoder/Dockerfile
Due: lint, test, security, document_cagip, build geocoder

same name everywhere
  geocoder/Dockerfile
  geocoder/setup.py
Due: lint, test, security, document_cagip, build geocoder

__main__ import paths slightly different
  geocoder/geocoding/__main__.py
Due: lint, test, security, document_cagip, build geocoder

further restructuring
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  .pypiprc
  Dockerfile
  LICENSE
  Pipfile
  geocoder/Dockerfile
  geocoder/__main__.py
  setup.py
Due: lint, test, security, document_cagip, build geocoder

adapt pipeline paths
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

dockerfile fixes
  .gitlab-ci.yml
  Dockerfile
Due: lint, test, security, document_cagip, build geocoder

setup.py fixes
  setup.py
Due: none

changes keyword
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

wrong ()
  setup.py
Due: none

entrypoint path
  setup.py
Due: none

find_packages
  setup.py
Due: none

find_packages²
  setup.py
Due: none

main
  geocoder/geocoding/__main__.py
Due: lint, test, security, document_cagip, build geocoder

timeouts
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

tqdm and pass empty lieux-dits
  Pipfile
  geocoder/geocoding/__main__.py
  geocoder/geocoding/activate_reverse.py
  geocoder/geocoding/ban_processing.py
  geocoder/geocoding/download.py
  geocoder/geocoding/index.py
Due: lint, test, security, document_cagip, build geocoder

VERSION and package deploy fixes
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

VERSION and package deploy fixes²
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder
