Repository adimajo/Geocoding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, security, document_cagip, build geocoder

Path conditions:
  lint: any of: .gitlab-ci.yml, geocoder/**/*
  test: any of: .gitlab-ci.yml, geocoder/**/*, tests/**/*
  security: any of: .gitlab-ci.yml, geocoder/**/*
  document_cagip: any of: .gitlab-ci.yml, geocoder/**/*, docs/**/*
  build geocoder: any of: .gitlab-ci.yml, geocoder/**/*

squash lots of CI/CD commits
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  .pypiprc
  Dockerfile
  LICENSE
  Pipfile
  docs/source/conf.py
  geocoder/Dockerfile
  geocoder/__init__.py
  geocoder/api/Geocoder.py
  geocoder/api/__init__.py
  geocoder/api/app.py
  geocoder/api/conf.py
  geocoder/api/rest.py
  geocoder/geocoding/__init__.py
  geocoder/geocoding/__main__.py
  geocoder/geocoding/activate_reverse.py
  geocoder/geocoding/ban_processing.py
  geocoder/geocoding/download.py
  geocoder/geocoding/index.py
  geocoder/geocoding/query.py
  geocoder/site/static/img/favicon.ico
  geocoder/wsgi.py
  setup.py
Due: lint, test, security, document_cagip, build geocoder

gunicorn wsgi inside package
  Dockerfile
  geocoder/geocoding/__main__.py
  geocoder/geocoding/query.py
  geocoder/wsgi.py
  setup.py
Due: lint, test, security, document_cagip, build geocoder

flake8
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

bandit
  geocoder/geocoding/__main__.py
Due: lint, test, security, document_cagip, build geocoder

custom wsgi gunicorn on unix debugging and deploy package with correct image
  .gitlab-ci.yml
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

Rollout version 2.0.1
  docs/_autosummary/geocoder.geocoding.__main__.html
  docs/_autosummary/geocoder.geocoding.activate_reverse.html
  docs/_autosummary/geocoder.geocoding.download.html
  docs/_autosummary/geocoder.geocoding.index.html
  docs/_autosummary/geocoder.wsgi.html
  docs/_modules/geocoder/geocoding/activate_reverse.html
  docs/_modules/geocoder/geocoding/ban_processing.html
  docs/_modules/geocoder/geocoding/download.html
  docs/_modules/geocoder/geocoding/index.html
  docs/_modules/geocoder/geocoding/query.html
  docs/_modules/geocoder/wsgi.html
  docs/_modules/index.html
  docs/_sources/_autosummary/geocoder.geocoding.__main__.rst.txt
  docs/_sources/_autosummary/geocoder.geocoding.activate_reverse.rst.txt
  docs/_sources/_autosummary/geocoder.geocoding.download.rst.txt
  docs/_sources/_autosummary/geocoder.geocoding.index.rst.txt
  docs/_sources/_autosummary/geocoder.wsgi.rst.txt
  docs/_static/css/theme.css
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: document_cagip

home redirection and flask swagger and github pipeline
  .github/workflows/python-flask.yml
  Pipfile
  geocoder/api/provider.py
  geocoder/api/rest.py
  geocoder/wsgi.py
Due: lint, test, security, document_cagip, build geocoder

Rollout version 2.0.1
  docs/_autosummary/geocoder.api.Geocoder.html
  docs/_autosummary/geocoder.api.app.html
  docs/_autosummary/geocoder.api.html
  docs/_autosummary/geocoder.api.rest.html
  docs/_autosummary/geocoder.geocoding.index.html
  docs/_modules/geocoder/api/app.html
  docs/_modules/geocoder/api/rest.html
  docs/_modules/geocoder/wsgi.html
  docs/_modules/index.html
  docs/_sources/_autosummary/geocoder.api.app.rst.txt
  docs/_sources/_autosummary/geocoder.api.rest.rst.txt
  docs/genindex.html
  docs/objects.inv
  docs/py-modindex.html
  docs/searchindex.js
Due: document_cagip

pipelines
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  Pipfile
Due: lint, test, security, document_cagip, build geocoder

Rollout version 2.0.1
  docs/_autosummary/geocoder.geocoding.index.html
Due: document_cagip

pipelines² context: . to override checkout
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

pipelines and dockerfile
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  Dockerfile
  setup.py
Due: lint, test, security, document_cagip, build geocoder

setup.py fix
  setup.py
Due: none

still fiddling with setup.py
  setup.py
Due: none

missing twine and fix github
  .github/workflows/python-flask.yml
  Pipfile
Due: none

try to solve with non multi stage build?
  .github/workflows/python-flask.yml
  Dockerfile
Due: none

fix both pipelines again
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

fix both pipelines again² and wrong name for pypirc and missing version in context
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  .pypirc
  geocoder/api/rest.py
  geocoder/site/templates/index.html
Due: lint, test, security, document_cagip, build geocoder

Rollout version 2.0.1
  docs/_autosummary/geocoder.geocoding.index.html
  docs/_modules/geocoder/api/rest.html
Due: document_cagip

fix pypirc and try/pass for Debian dockerfile
  .gitlab-ci.yml
  Dockerfile
Due: lint, test, security, document_cagip, build geocoder

fix pipelines
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

certif + coverage
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  Dockerfile
  README.md
  geocoder/api/provider.py
  geocoder/api/rest.py
  geocoder/geocoding/ban_processing.py
  geocoder/geocoding/index.py
  setup.py
  tests/test_geocoder.py
Due: lint, test, security, document_cagip, build geocoder

README, bump version, allow force to stable
  .gitlab-ci.yml
  README.md
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

introduce force to stable
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

label in docker, desc in tqdm, dependence of stable package to get dist, debug on Github to build the container
  .github/workflows/python-flask.yml
  .gitlab-ci.yml
  Dockerfile
  geocoder/geocoding/activate_reverse.py
  geocoder/geocoding/download.py
  geocoder/geocoding/index.py
Due: lint, test, security, document_cagip, build geocoder

reinstall twine if cache is gone
  .gitlab-ci.yml
  geocoder/geocoding/search.py
Due: lint, test, security, document_cagip, build geocoder

add s3 storage functionality
  Dockerfile
  Pipfile
  geocoder/geocoding/__init__.py
  geocoder/geocoding/__main__.py
  geocoder/geocoding/datapaths.py
  geocoder/geocoding/download.py
  geocoder/geocoding/index.py
  geocoder/geocoding/query.py
Due: lint, test, security, document_cagip, build geocoder

return code_insee as well
  geocoder/api/Geocoder.py
  geocoder/geocoding/query.py
  geocoder/geocoding/utils.py
Due: lint, test, security, document_cagip, build geocoder
