Repository adimajo/Geocoding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, security, document_cagip, build geocoder

Path conditions:
  lint: any of: .gitlab-ci.yml, geocoder/**/*
  test: any of: .gitlab-ci.yml, geocoder/**/*, Pipfile, tests/**/*
  security: any of: .gitlab-ci.yml, geocoder/**/*
  document_cagip: any of: .gitlab-ci.yml, geocoder/**/*, docs/**/*
  build geocoder: any of: .gitlab-ci.yml, geocoder/**/*, Pipfile, setup.py, Dockerfile

no need for export in GITHUB_ENV and switched back missing db to info instead of error
  .github/workflows/python-flask.yml
  geocoder/geocoding/query.py
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.19
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

better normalize, better Dockerfile
  .gitlab-ci.yml
  Dockerfile
  geocoder/geocoding/normalize.py
Due: lint, test, security, document_cagip, build geocoder

better normalize, better Dockerfile
  .github/workflows/python-flask.yml
  tests/test_geocoder.py
Due: test

better normalize, better Dockerfile
  Pipfile
  tests/test_geocoder.py
Due: test, build geocoder

better normalize, better Dockerfile
  tests/test_geocoder.py
Due: test

[ci-skip] Bumping to version 2.1.20
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

try programmatic chown in Docker
  Dockerfile
Due: build geocoder

[ci-skip] Bumping to version 2.1.21
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

programmatic chown in Docker failed
  .gitlab-ci.yml
  Dockerfile
Due: lint, test, security, document_cagip, build geocoder

programmatic chown in Docker failed & docs
  .gitlab-ci.yml
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.22
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

add S3_ENDPOINT_URL
  geocoder/geocoding/__init__.py
  geocoder/geocoding/download.py
Due: lint, test, security, document_cagip, build geocoder

flake8 not same versions?
  geocoder/api/Geocoder.py
Due: lint, test, security, document_cagip, build geocoder

[ci-skip] Bumping to version 2.1.23
  geocoder/__init__.py
Due: lint, test, security, document_cagip, build geocoder

ECS migration
  geocoder/geocoding/__init__.py
Due: lint, test, security, document_cagip, build geocoder
